<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>serverURL</key>
        <string>http://192.168.0.10:8080/ag-push</string>
        <key>variantID</key>
        <string>a62785ec-2f08-408d-93f3-c4869e0edbfe</string>
        <key>variantSecret</key>
        <string>7ba81aed-f561-4476-8ecf-45d506800dca</string>
    </dict></plist>
